nav{
    justify-content: end;
}

.navbar_logo{
    padding-right: 24px;
}

.banner{
    margin-bottom: 300px;
}

.triangle{
    border-bottom: 2480px solid transparent;
}

.triangle p{
    display: block;
    font-size: 600px;
    color: white;
    opacity: 55%;
    font-family: 'Provicali', sans-serif;
    position: absolute;
    letter-spacing: 16px;
    top: -48px;
    left: 148px;
    margin: 0px;
}

.top_section{
    margin-top: 0px;
    padding-left: 120px;
    padding-right: 120px;
}

.badge_container{
    height: 515px;
}

.badge_container .badge{
    height: 320px;
}

/*MODULO DE REGISTRO*/

.article-container{
    padding-left: 120px;
    padding-right: 120px;
}

.article img{
    display: block;
    height: 232px;
    margin-left: 44px;
    margin-right: 44px;
}

footer p{
    display: block;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.icons-container{
    margin-left: 20px;
}

footer img{
    height: 50px;
}